## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [27]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [28]:
# Your code here
sample_list_1 = random.sample(range(1,101),80) # Here we create the list
print(sample_list_1) # Here we show the list
#Elements are unique because the sample function create a list of x values and each value is unique from the rest

[100, 86, 48, 98, 73, 16, 7, 54, 85, 26, 5, 69, 83, 61, 56, 79, 36, 33, 92, 97, 90, 65, 32, 39, 4, 68, 19, 42, 78, 66, 8, 71, 27, 29, 17, 63, 53, 88, 82, 52, 35, 76, 12, 14, 57, 13, 75, 95, 70, 91, 15, 62, 96, 55, 34, 31, 41, 47, 6, 37, 2, 60, 58, 89, 9, 22, 38, 43, 23, 46, 94, 84, 25, 77, 72, 20, 28, 49, 59, 93]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [29]:
# Your code here
set1 = set(sample_list_1) # Here we convert list to a set
print(len(set1))

if len(set1) == 80:
    print("YES, the length still being 80")
else:
    print("NO, the length is not 80")

80
YES, the length still being 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [30]:
# Your code here
sample_list_2 = []
for x in range(1,81):
    sample_list_2.append(random.randint(1, 100)) # this function append a random int from 1 to 100
print(sample_list_2) # Here we show the list
print(len(sample_list_2))

[80, 77, 23, 88, 80, 93, 1, 40, 25, 3, 46, 52, 43, 72, 48, 41, 14, 20, 87, 72, 27, 6, 45, 78, 62, 16, 100, 30, 75, 92, 18, 70, 95, 49, 3, 47, 74, 86, 84, 74, 27, 88, 43, 27, 98, 62, 25, 72, 75, 38, 17, 32, 37, 28, 58, 53, 38, 15, 31, 70, 19, 31, 69, 22, 81, 61, 32, 82, 73, 94, 52, 78, 11, 17, 6, 3, 90, 33, 38, 9]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [31]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
if len(set2) == 80:
    print("YES, the length still being 80")
else:
    print("NO, the length is not 80")
# Maybe its because you cannot save in a set repeated values

58
NO, the length is not 80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [32]:
# Your code here
set3 = set()

for x in set1: # Here we iterate set1 
    if x not in set2: # Here we identify if
        set3.add(x)
print("Set 1: " + str(set1))
print("Set 2: " + str(set2))
print("Set 3: " + str(set3))

Set 1: {2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
Set 2: {1, 3, 6, 9, 11, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 27, 28, 30, 31, 32, 33, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 52, 53, 58, 61, 62, 69, 70, 72, 73, 74, 75, 77, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 95, 98, 100}
Set 3: {2, 4, 5, 7, 8, 12, 13, 26, 29, 34, 35, 36, 39, 42, 54, 55, 56, 57, 59, 60, 63, 65, 66, 68, 71, 76, 79, 83, 85, 89, 91, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [33]:
# Your code here
set4 = set()

for x in set2: # Here we iterate set1 
    if x not in set1: # Here we identify if
        set4.add(x)
print("Set 1: " + str(set1))
print("Set 2: " + str(set2))
print("Set 4: " + str(set4))

Set 1: {2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
Set 2: {1, 3, 6, 9, 11, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 27, 28, 30, 31, 32, 33, 37, 38, 40, 41, 43, 45, 46, 47, 48, 49, 52, 53, 58, 61, 62, 69, 70, 72, 73, 74, 75, 77, 78, 80, 81, 82, 84, 86, 87, 88, 90, 92, 93, 94, 95, 98, 100}
Set 4: {1, 3, 40, 74, 11, 45, 80, 81, 18, 87, 30}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [34]:
# Your code here
set5 = set()
for x in set1:
    if x in set2:
        set5.add(x)
print(set5)

{6, 9, 14, 15, 16, 17, 19, 20, 22, 23, 25, 27, 28, 31, 32, 33, 37, 38, 41, 43, 46, 47, 48, 49, 52, 53, 58, 61, 62, 69, 70, 72, 73, 75, 77, 78, 82, 84, 86, 88, 90, 92, 93, 94, 95, 98, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [35]:
# Your code here
print("Length of Set 1: " + str(len(set1)))
print("Length of Set 2: " + str(len(set2)))
print("Length of Set 3: " + str(len(set3)))
print("Length of Set 4: " + str(len(set4)))
print("Length of Set 5: " + str(len(set5)))

Length of Set 1: 80
Length of Set 2: 58
Length of Set 3: 33
Length of Set 4: 11
Length of Set 5: 47

#### Create an empty set called `set6`.

In [36]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [37]:
# Your code here
set6.update(set3, set5)
print(set3)
print(set5)
print(set6)

{2, 4, 5, 7, 8, 12, 13, 26, 29, 34, 35, 36, 39, 42, 54, 55, 56, 57, 59, 60, 63, 65, 66, 68, 71, 76, 79, 83, 85, 89, 91, 96, 97}
{6, 9, 14, 15, 16, 17, 19, 20, 22, 23, 25, 27, 28, 31, 32, 33, 37, 38, 41, 43, 46, 47, 48, 49, 52, 53, 58, 61, 62, 69, 70, 72, 73, 75, 77, 78, 82, 84, 86, 88, 90, 92, 93, 94, 95, 98, 100}
{2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [38]:
# Your code here
print(set1)
print(set6)
if(set1 == set6):
    print("Set1 and set2 are equal")

{2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
{2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
Set1 and set2 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [39]:
# Your code here
contain_1 = set2.issubset(set1) # Check if set2 is contained in set1 
contain_2 = set2.issubset(set1) # Check if set3 is contained in set1 
if contain_1 == False:
    print("set1 not contains set2")
else:
    print("set1 contains set2")

if contain_2 == False:
    print("set1 contains set2")
else:
    print("set1 contains set3")

set1 not contains set2
set1 contains set2

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [40]:
# Your code here
union_1 = set3.union(set4,set5)
union_2 = set1.union(set2)
print(union_1)
print(union_2)
if(union_1 == union_2):
    print("Aggregated values are equal")

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
Aggregated values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [41]:
# Your code here
print(set1)
set1.pop() # Delete first element of set1
print(set1) # Show set1 without the first element

{2, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
{4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 19, 20, 22, 23, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 46, 47, 48, 49, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 82, 83, 84, 85, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [47]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for x in range(len(list_to_remove)): # We iterate list_to_remove
    if list_to_remove[x] in set1: # 
        set1.remove(list_to_remove[x])
        print(str(x) + " removed")
print(set1) # Show set1 without the elements of list_to_remove

{4, 5, 6, 7, 8, 12, 13, 14, 15, 16, 17, 20, 22, 23, 25, 26, 27, 28, 32, 33, 34, 35, 36, 37, 38, 42, 43, 46, 47, 48, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 65, 66, 68, 70, 72, 73, 75, 76, 77, 78, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98}