## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [3]:
#la función randon.sample(elementos de la población, numero de esos elementos que quieres coger), te selecciona tantos numeros, sin repetir, como le especifiques
#los metes en una lista
#los imprimes

sample_list_1 = list(random.sample(range(101), 80))
print(sample_list_1)

print(len(sample_list_1))

[52, 32, 59, 35, 0, 41, 26, 96, 22, 7, 66, 100, 36, 70, 76, 88, 25, 55, 29, 51, 84, 92, 27, 64, 65, 46, 6, 95, 58, 97, 42, 12, 44, 14, 61, 54, 67, 98, 74, 39, 86, 21, 10, 30, 13, 62, 56, 3, 50, 90, 23, 28, 68, 73, 69, 33, 40, 5, 2, 31, 87, 1, 9, 60, 82, 34, 85, 11, 99, 93, 75, 91, 63, 24, 89, 80, 57, 47, 53, 15]
80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [40]:

set1 = set(sample_list_1)

print(set1)

print(len(set1))

{0, 1, 2, 5, 7, 13, 14, 15, 17, 18, 23, 26, 27, 28, 29, 31, 35, 41, 42, 45, 48, 49, 54, 55, 56, 57, 58, 60, 65, 66, 68, 69, 70, 76, 77, 78, 79, 80, 85, 87, 88, 90, 91, 96, 98, 99}
46

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
sample_list_2 = []

for _ in range(80):
    numero_aleatorio = random.randint(0, 100)
    sample_list_2.append(numero_aleatorio)
    

print(sample_list_2)

[90, 37, 68, 94, 28, 3, 96, 12, 17, 86, 83, 85, 26, 88, 42, 13, 23, 38, 18, 66, 43, 57, 75, 32, 36, 8, 23, 12, 15, 55, 49, 26, 36, 10, 35, 39, 27, 68, 85, 7, 82, 80, 41, 46, 48, 24, 93, 81, 70, 71, 6, 15, 53, 65, 15, 1, 76, 85, 45, 23, 81, 16, 78, 35, 71, 11, 25, 34, 32, 24, 94, 14, 67, 51, 8, 2, 24, 71, 14, 22]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
set2 = set(sample_list_2)

print(set2)

60

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3 = set1 -set2
print(set3)

{0, 98, 99, 5, 69, 77, 79, 54, 87, 56, 58, 91, 60, 29, 31}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
set4 = set2 - set1
print(set4)

{}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
set5 = set1 and set2

print(set5)

{1, 2, 3, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 48, 49, 51, 53, 55, 57, 65, 66, 67, 68, 70, 71, 75, 76, 78, 80, 81, 82, 83, 85, 86, 88, 90, 93, 94, 96}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [16]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))

46
60
15
0
60

#### Create an empty set called `set6`.

In [27]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [28]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 48, 49, 51, 53, 54, 55, 56, 57, 58, 60, 65, 66, 67, 68, 69, 70, 71, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 93, 94, 96, 98, 99}

#### Check if `set1` and `set6` are equal.

In [29]:
set1 == set6

No

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [30]:
print(set1.issubset(set2))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [37]:
union1 = set.union(set3, set4, set5)
union2 = set.union(set1, set2)
union1 == union2

{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 48, 49, 51, 53, 54, 55, 56, 57, 58, 60, 65, 66, 67, 68, 69, 70, 71, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 93, 94, 96, 98, 99}
{0, 1, 2, 3, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 46, 48, 49, 51, 53, 54, 55, 56, 57, 58, 60, 65, 66, 67, 68, 69, 70, 71, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 93, 94, 96, 98, 99}
Si son iguales

#### Using the `pop` method, remove the first element from `set1`.

In [50]:
print(set1)
set1.pop()
print(set1)

5

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [53]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

lista_set = set(list_to_remove)

interseccion= set.intersection(set1)


diferencia = lista_set - interseccion

print(diferencia)

{1, 39, 71, 9, 11, 81, 19, 51, 21, 89, 59, 61}