## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [9]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
sample_list_1 =random.sample(range(0,101), 80)
print(sample_list_1)
len(sample_list_1)
#1 definimos sample_list_1 y usamos la funcion random.sample() para genera numeros al azar indicandole el rango (incion,fin) y el largo de la lista()
#2 pedimos que nos imprima la sample_list_1
#3 use el metodo len para asegurame de que la lista tuviera el largo adecuado

[75, 89, 60, 74, 20, 46, 93, 57, 2, 65, 35, 79, 5, 56, 71, 50, 76, 96, 34, 8, 32, 58, 42, 14, 59, 100, 52, 1, 91, 30, 83, 87, 23, 68, 95, 22, 85, 48, 29, 17, 45, 0, 82, 92, 9, 7, 15, 73, 41, 38, 55, 36, 66, 80, 13, 62, 67, 53, 47, 12, 84, 3, 27, 26, 51, 21, 43, 44, 69, 72, 16, 49, 70, 86, 39, 33, 77, 88, 18, 28]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [88]:
set1=set(sample_list_1)    # recordar que los set son parecidos a las listas 
print(len(set1))           #Los elementos de un set son único, lo que significa que no puede haber elementos duplicados.
print(set1)                #Los set son desordenados, lo que significa que no mantienen el orden de cuando son declarados.Sus elementos deben ser inmutables.


#1 definimos set3 usamos el metedo set para convertirlo y lo almacenamos en set1
#2 le pedimos que nos muestre la longitud del set usan el print() y el metodo len()

80
{0, 1, 2, 3, 5, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 100}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
sample_list_2 = []

for i in range(80):
    sample_list_2.append(random.randint(0, 101))
print(sample_list_2)
print(len(sample_list_2))

#1 definimos sample_list_2 y creamos una lista vacia 
#2 usamos el bucle for para indicar que los numeros en una rango hasta 80
#3 luego con el metedo .append() le indicamos que sume a la lista vacias esos numero generadosde manera al azar y con el rango de 80 usando el metodo ramdon.randint()
#4 pedimos que nos imprima la sample_list_2 comprobando si se genero una lista al azar con los numero de 0 al 100 y en el largo de 80 elementos
#5 pedimos que nos muestre el largo de la sample_list_2 con la funcion len

[14, 65, 92, 4, 2, 9, 80, 14, 76, 84, 29, 79, 90, 3, 61, 80, 96, 88, 33, 63, 67, 9, 4, 16, 88, 1, 44, 49, 23, 94, 48, 16, 49, 26, 16, 39, 72, 73, 49, 55, 50, 63, 20, 22, 54, 91, 24, 95, 95, 52, 61, 101, 30, 20, 79, 101, 73, 30, 43, 4, 69, 19, 87, 37, 47, 62, 45, 76, 65, 69, 19, 97, 68, 64, 50, 71, 57, 25, 73, 13]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:
set2=set(sample_list_2)
print(len(set2))
print(set2)
type(set2)
#1 definimos set2 y usamos metodo set para convertir sample_list_2 en un set.
#2 pedimos que nos imprima el largo del set2 que es 56 debido a que no pueden tener elementos repetidos
#3 pedimos que nos muestre set2 
#4 me aseguro que el tipode dato sea set

56
{1, 2, 3, 4, 9, 13, 14, 16, 19, 20, 22, 23, 24, 25, 26, 29, 30, 33, 37, 39, 43, 44, 45, 47, 48, 49, 50, 52, 54, 55, 57, 61, 62, 63, 64, 65, 67, 68, 69, 71, 72, 73, 76, 79, 80, 84, 87, 88, 90, 91, 92, 94, 95, 96, 97, 101}

set

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [33]:
# 1 solucion 
set3 = set1.difference(set2)
print(set3)
print(type(set3))

#1 se define set3 y se usa el metodo .difference() que te da la diferencia entre set1 y set2
#2 pedimos que nos imprima el set2
#3 nos aseguramos que sea un set



#2 solucion
set3=set1-set2
print(set3)
#1 se define set3 y simple mentas restas set1 y set2 para la diferencia de set1 respecto a set 2
#2 pedimos que nos imprima set3

{0, 5, 7, 8, 12, 15, 17, 18, 21, 27, 28, 32, 34, 35, 36, 38, 41, 42, 46, 51, 53, 56, 58, 59, 60, 66, 70, 74, 75, 77, 82, 83, 85, 86, 89, 93, 100}
<class 'set'>
{0, 5, 7, 8, 12, 15, 17, 18, 21, 27, 28, 32, 34, 35, 36, 38, 41, 42, 46, 51, 53, 56, 58, 59, 60, 66, 70, 74, 75, 77, 82, 83, 85, 86, 89, 93, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [34]:
# 1 solucion  
set4=set2.difference(set1)
print(set4)
#1 definimos set4. hacemos igual que el otro ejercicio. solo que ahora buscamosla difrencia de set2 respecto al set 1
#2 pedimos que nos imprima set4
# 2 solucion 
set4=set2-set1
print(set4)
#1segumos los paso del otro ejercio solo que set2 respecto a set1

{64, 97, 4, 37, 101, 19, 54, 24, 25, 90, 61, 94, 63}
{64, 97, 4, 37, 101, 19, 54, 24, 25, 90, 61, 94, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [35]:
set5 = set1.intersection(set2)
print(set5)
print(type(set5))
#1 definimos set5. usamos el metodo .intersection() que nos da los elementos que comparten set1 ys set2
#2 pedimos que no imprima set5 
#3 verificamos el tipo de dato

{1, 2, 3, 9, 13, 14, 16, 20, 22, 23, 26, 29, 30, 33, 39, 43, 44, 45, 47, 48, 49, 50, 52, 55, 57, 62, 65, 67, 68, 69, 71, 72, 73, 76, 79, 80, 84, 87, 88, 91, 92, 95, 96}
<class 'set'>

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [38]:
len_set1=(len(set1))
len_set2=(len(set2))
len_set3=(len(set3))
len_set4=(len(set4))
len_set5=(len(set5))

total_1 = len_set1 + len_set2 
total_2 = len_set3 + len_set4 + 2 * len_set5 

print(total_1)
print(total_2)

#1 definimos cada una de las variables len_set respectivamente . y usamos el metodo len para tener el largo del set 
#2 al tener el largo en cada variable realizamos la siguientes operaciones matematicas
#3 total_1 es la suma de set1 y set2
#4 total_2 es la suma de la diferencia de set1 sobre set2 (set3)+ la difrencia de set2 respecto a set1 (set4) y el doble de la interseccion que es (set5)
#5 conclusion: vemos que tiene el mismo largo asi que intuimos que las operaciones son correctas al venir de set1 y set2

136
136

#### Create an empty set called `set6`.

In [43]:
set6={}
set6=set(set6)
print(set6)
#1 definimos set6 y hacemos un set6 
#2 usamos el metodo set para convertirlo en set y que no de problemas despues.
#3 pedimos que nos imprima el set

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
set6.update(set3,set5)
print(set6)
#1 usamos el metodo .update() para incluir set3 y set5 en set6
#2 verificamos set6

{0, 1, 2, 3, 5, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 55, 56, 57, 58, 59, 60, 62, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 95, 96, 100}

#### Check if `set1` and `set6` are equal.

In [49]:
equal= set1 == set6
print(equal)
#1 definimos equal  y vemos si son iguales set1 y set6
#2 nos devuelve que se cumple la condición

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [53]:
contiene_1=set2.issubset(set1)
contiene_2=set3.issubset(set1)
print(contiene_1)
print(contiene_2)
#1 definimos cotiene_1 y usamos el metedo .issubset() para comprobarlos 
#2 hacemos los mismo con el segundo paso 
#3 pedimos que nos los imprima y vemos que set1 contiene a set2 y que que set3 no esta contenida en set1

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [86]:
union_set1_2 = set1.union(set2)
union_set3_4_5 = set3.union(set4).union(set5)
print(union_set1_2)
print(union_set3_4_5)
igualdad = union_set3_4_5 == union_set1_2
print(igualdad)
#1 definimos la uniones . usamos el metodo .union() para agregar set1 y set2 . y luego set3 set4 y set5
#2 pedimos ver los resutaldos y vemos que son iguales
#3 igualamos las uniones y pedimos que ves si se cumple la condición. si si son iguales

{1, 2, 3, 4, 9, 13, 14, 16, 19, 20, 22, 23, 24, 25, 26, 29, 30, 33, 37, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100, 101}
{0, 1, 2, 3, 4, 5, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 79, 80, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 100, 101}
False

#### Using the `pop` method, remove the first element from `set1`.

In [89]:
remove_elemente=set.pop(set1)
print(remove_elemente)
#1definimos y usamos el metodo .pop() para quita el primer elemento
#2 pedimos ver el elemento eliminado

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [263]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_list_remove=set(list_to_remove)
set1.discard(set_list_remove)
print(set1)

#1 definimos la lista que queremos remover.
#2 la convertimos en un set
#3 usamos el metodo .discard para que descarte los numero del el set_list_remove
#4 verificamos con un print que no esten los numero que queriamos descartar

{4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 18, 20, 23, 24, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 44, 45, 46, 47, 48, 52, 54, 55, 56, 57, 58, 60, 62, 63, 64, 67, 70, 72, 73, 75, 76, 77, 78, 80, 82, 84, 85, 86, 88, 90, 93, 94, 95, 96, 97, 98, 100}