## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
sample_list_1=random.sample(range(0,101),80)
print(sample_list_1)
#usamos la funcion random.sample() para genera numeros al azar indicandole el rango (0,101) y el largo de la lista(80)

[31, 66, 7, 93, 72, 40, 57, 28, 18, 53, 94, 21, 75, 6, 9, 58, 37, 12, 71, 83, 32, 56, 36, 98, 89, 69, 48, 77, 59, 8, 27, 63, 29, 88, 79, 51, 3, 80, 49, 86, 15, 25, 41, 54, 17, 81, 82, 42, 85, 97, 44, 2, 39, 96, 76, 35, 100, 38, 5, 52, 46, 65, 84, 55, 23, 95, 13, 70, 14, 43, 99, 11, 61, 34, 4, 0, 30, 73, 33, 60]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
set1=(len(sample_list_1)) #Usamos len para que nos calcule los numeros 
print(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2 = []

for num in range(80):#indicamos que los numeros generados seran 80 (range(80))
    sample_list_2.append(random.randint(0, 100)) #Con el metedo .append() indicamos que añada a la lista los numeros que generamos y con el metodo ramdon.randint()le indicamos que esos numeros iran de 0 hasta 100
     
print(sample_list_2)
print(len(sample_list_2))

[47, 16, 23, 10, 84, 100, 35, 83, 5, 24, 48, 83, 54, 79, 56, 80, 46, 60, 16, 4, 45, 81, 41, 9, 99, 42, 66, 63, 62, 48, 54, 28, 1, 2, 1, 79, 79, 84, 93, 38, 55, 53, 19, 92, 8, 19, 12, 96, 90, 20, 48, 38, 79, 78, 46, 16, 90, 58, 95, 53, 82, 56, 37, 76, 91, 89, 67, 87, 74, 86, 76, 63, 32, 17, 76, 49, 50, 90, 67, 14]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [19]:

set2=set(sample_list_2)#Definimos funcion set2 y Lamamos al metodo set para convertir sample_list_2 en un set.
print(type(set2))
print(len(set2))

<class 'set'>
58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [32]:
set1=set(sample_list_1)#ambiamos el set1 de entero a set.
set3=set1-set2
print(set3)

{0, 3, 6, 7, 11, 13, 15, 18, 21, 25, 27, 29, 30, 31, 33, 34, 36, 39, 40, 43, 44, 51, 52, 57, 59, 61, 65, 69, 70, 71, 72, 73, 75, 77, 85, 88, 94, 97, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [33]:
set4=set2-set1
print(set4)

{1, 67, 10, 74, 45, 78, 47, 16, 50, 19, 20, 87, 24, 90, 91, 92, 62}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [35]:
set5=set1&set2#Con & Esta operación devuelve un nuevo conjunto que contiene solo los elementos que están presentes en ambos conjuntos.
print(set5)
print(set1)
print(set2)

{2, 4, 5, 8, 9, 12, 14, 17, 23, 28, 32, 35, 37, 38, 41, 42, 46, 48, 49, 53, 54, 55, 56, 58, 60, 63, 66, 76, 79, 80, 81, 82, 83, 84, 86, 89, 93, 95, 96, 99, 100}
{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 21, 23, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 93, 94, 95, 96, 97, 98, 99, 100}
{1, 2, 4, 5, 8, 9, 10, 12, 14, 16, 17, 19, 20, 23, 24, 28, 32, 35, 37, 38, 41, 42, 45, 46, 47, 48, 49, 50, 53, 54, 55, 56, 58, 60, 62, 63, 66, 67, 74, 76, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 90, 91, 92, 93, 95, 96, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [38]:
len_set1=len(set1)
len_set2=len(set2)
len_set3=len(set3)
len_set4=len(set4)
len_set5=len(set5)

#### Create an empty set called `set6`.

In [43]:

set6=set([])#Usamos el metodo set en una lista vacia para convertir set6 en set
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [45]:
set6.update(set3, set5)#Usamos el metodo .update() para incluir set3 y set5 en set6
print(set6)

{0, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 21, 23, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [47]:
equal= set1 == set6
print(equal)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
print(set2.issubset(set1))#metedo .issubset() para comprobarlos si estan en las finciones 
print(set3.issubset(set1))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [54]:
sum1=set.union(set3, set4, set5)
sum2=set.union(set1, set2)
valor= sum1==sum2
print(valor)

True

#### Using the `pop` method, remove the first element from `set1`.

In [58]:
print(set1)
elemanto1=set.pop(set1)#Con el metodo .pop() se elimina y devuelve un elemento de una lista
print(elemanto1)

{4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 17, 18, 21, 23, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 63, 65, 66, 69, 70, 71, 72, 73, 75, 76, 77, 79, 80, 81, 82, 83, 84, 85, 86, 88, 89, 93, 94, 95, 96, 97, 98, 99, 100}
4

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [60]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)#la convertimos en un set
resul=set1-set_to_remove
print(resul)

{5, 6, 7, 8, 12, 13, 14, 15, 17, 18, 23, 25, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 48, 52, 53, 54, 55, 56, 57, 58, 60, 63, 65, 66, 70, 72, 73, 75, 76, 77, 80, 82, 83, 84, 85, 86, 88, 93, 94, 95, 96, 97, 98, 100}